.buttons__item{
    width: 210px;
    height: 65px;
    border: none;
    border-radius: 12px;
    font-family: inherit;
    font-size: 18px;
    line-height: 27px;
}

@media screen and (max-width: 500px){
    .buttons__item{
        width: 170px;
        height: 65px;
        font-size: 14px;
        line-height: 18px;
    }
  
  } 