.popup__button_subscribe{
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0.16) 1px;
    width: 100%;
    height: 50px;
    border-radius: 12px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    margin-left: 20px;
    cursor: pointer;

}

.popup__button_subscribe:hover{
    background-color: #F2F2F2
    }

      
@media screen and (max-width: 500px){
    .popup__button_subscribe{
        margin: 0;
    }
  
  } 
  