.popup__text{
    margin: auto auto 50px 52px;
    color: rgba(0, 0, 0, 0.32)
}

.popup__text_underline{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.32)
}


@media screen and (max-width: 500px){
    .popup__text{
        font-size: 12px;
        line-height: 14px;
    }
  
  } 
  